* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px;
}
h5 {
  font-weight: bold;
}

h1 {
  font-weight: 800;
  font-size: 50px;
}
p {
  font-weight: 700 !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.navbar .megamenu {
  padding: 1rem;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* ============ mobile view .end// ============ */
.position_megamenu {
  display: flex;
  flex-direction: column;
}

/* bootstrap navbar */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-evenly;
  }
}

.nav-link {
  font-weight: 500 !important;
  line-height: 16px !important;
  color: #111111 !important;
  font-size: 1.1rem
}
.nav-link_gradient {
  font-weight: 700 !important;
  line-height: 16px !important;
  color: white !important;
}

.nav-link-padding {
  padding: 5px 4px;
  margin: 0px 8px;
}

.nav-link-padding_logo {
  padding: 0 20px;
}

.image_sizing {
  height: 45px !important;
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
  padding: 20px 0px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
.navbar-toggler {
  border: none;
}
.menu_items {
  border: 1px solid black;
  border-radius: 30px;
}
.gradient-button {
  display: inline-block;
  font-weight: bold !important;
  color: white !important;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  transition: all 0.3s ease;
  border: none !important;
}
.megamenu-options-position {
  padding: 10px 0px;
}
/* Banner section Styling */
.background_color_bg {
  background-color: #fbf6ff;
  padding: 80px 0;
}

.banner_position {
  padding: 40px 15px;
}

.banner_heading {
  font-size: 92px;
  font-weight: 1000;
}

.banner-image-sizing {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .banner_heading {
    font-size: 72px;
  }
}

@media (max-width: 992px) {
  .banner_heading {
    font-size: 62px;
  }
}

@media (max-width: 768px) {
  .banner_heading {
    font-size: 52px;
  }

  .background_color_bg {
    padding: 60px 0;
  }
}

@media (max-width: 576px) {
  .banner_heading {
    font-size: 42px;
  }

  .background_color_bg {
    padding: 40px 0;
  }
}

/* card styling */
.gradient-card {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  min-height: 350px;
}
.gradient-card:hover {
  box-shadow: 0px 12px 30px rgba(149, 157, 165, 0.3);
}
.icon-circle {
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  border-radius: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
}
.icon {
  color: white;
  font-size: 28px;
}
.section-bg {
  background: linear-gradient(
    135deg,
    rgba(255, 217, 255, 0.5),
    rgba(230, 238, 255, 0.5)
  );
  padding: 100px 0;
}
/* page-builder */
.gradient-text {
  font-size: 5.5rem !important;
  font-weight: 900;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtext {
  font-size: 3.25rem;
  margin-top: 20px;
  font-weight: 900;
  padding: 0px 100px;
}
.gradient-bg {
  background: linear-gradient(
    135deg,
    rgba(255, 217, 255, 0.5),
    rgba(230, 238, 255, 0.5)
  );
  padding: 60px 0;
  text-align: center;
}

/* video 1 styling */

.real-time-editing {
  padding: 50px;
  background-color: #f0f0f0; /* Light background to match the screenshot */
}

.video-container {
  padding: 20px;
}

.text-content {
  padding: 20px;
}

.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 15px !important; /* Add rounded corners if desired */
}
.video-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px !important; /* Add rounded corners if desired */
}

.text-content h2 {
  font-size: 2em;
  color: #333;
  font-weight: 800;
}

.text-content p {
  font-size: 1.4em;
  color: #666;
}

.text-content ul {
  list-style: none;
  padding: 0;
}

.text-content ul li {
  font-size: 1.5em;
  color: #a9a5b2;
  margin: 24px 0;
  font-weight: 800;
}
.gradient-text11 {
  font-size: 70px;
  font-weight: 900;
  color: #3613fa;
}
.text-transition {
  display: inline-block;

  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.animation-text-highlight {
  font-weight: 900px;
  font-size: 70px !important;
}
@media (max-width: 600px) {
  .animation-text-highlight {
    font-size: 40px !important;
  }
  .gradient-text11 {
    font-size: 40px !important;
  }
}
.hidden {
  opacity: 0;
}

/* blog and magazine builder */
.magazine-builder-bg {
  background-color: #13066e;
  border-radius: 35px;
}
.left-section {
  background: linear-gradient(to bottom, #03000b, #13066e);
  color: white;
  padding: 80px 40px;
  border-radius: 35px;
}
.left-section h1 {
  font-size: 3em;
  font-weight: bold;
}
.right-section img {
  width: 100%;
  height: auto;
  border-radius: 0 10px 10px 0;
  padding-top: 40px;
}
.left-section p {
  font-size: 1.2em;
  margin-top: 20px;
  color: #a9a5b2;
}
/* shape builder styling */
.gradient-text-pink {
  font-size: 3.5rem !important;
  font-weight: 900;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-yellow {
  font-size: 3.5rem !important;
  font-weight: 900;
  background: linear-gradient(to right, #e5c687, #d1b15c, #b78d1c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-green {
  font-size: 3.5rem !important;
  font-weight: 900;
  background: linear-gradient(to right, #c5e478, #a3d35c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-skyblue {
  font-size: 3.5rem !important;
  font-weight: 900;
  background: linear-gradient(to bottom, #b9e7e8, #6acccd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .gradient-text {
    font-size: 2.5rem !important;
  }

  .subtext {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .gradient-text {
    font-size: 3.5rem;
  }

  .subtext {
    font-size: 3.25rem;
  }
}
/* section-4 styling */

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.card-title {
  font-size: 2.5rem;
  font-weight: 900;
}
.card-text {
  color: #a9a5b2;
}
.padding-card-body {
  padding: 60px 50px 30px 50px;
  min-height: 350px;
}
.card-body1 {
  display: flex;
}
.animated-gradient-costum {
  font-size: 5rem;
  font-weight: 900;
  background: linear-gradient(270deg, #ff00ff, #0000ff, #ff00ff);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 5s ease infinite;
}
@media (max-width: 600px) {
  .animated-gradient-costum {
    font-size: 2.5rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.feature-icon {
  font-size: 30px;
}

h5.fw-bold {
  margin-top: 15px;
}
.features-size {
  font-weight: 100px !important;
}
.bg-primary {
  background: linear-gradient(180deg, #007bff, #00aaff);
}

.bg-secondary {
  background: linear-gradient(180deg, #6f42c1, #a15bd7);
}

/* just amazing carousel */
.carousel-item {
  text-align: center;
  padding: 60px 0;
}
.carousel-item h2 {
  font-size: 3em;
  color: #007bff;
}
.carousel-item p {
  font-size: 1.2em;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none;
}
.carousel-control-prev-icon::before {
  content: "\f053"; /* Font Awesome chevron-left icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  color: #000;
}
.carousel-control-next-icon::before {
  content: "\f054"; /* Font Awesome chevron-right icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  color: #000;
}
.hamburger-icon {
  font-size: 2em;
  color: #000;
}
/* good looking website */
.gradient-bg-blue-sky {
  background: linear-gradient(45deg, #4b6cb7, #182848);
  color: white;
  padding: 180px 0;
}
.button-container {
  overflow: hidden; /* Prevents scrollbars from appearing */
  width: 100%; /* Full width of the container */
  padding: 20px 0;
  position: relative;
}
@keyframes scroll-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}
.scrolling-buttons {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
  display: flex;
  width: 50%; /* Make sure it's wide enough to scroll content */
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.scrolling-buttons .btn {
  margin: 0 10px;
  border-radius: 20px !important;
  background-color:#4355AC;
  border:none !important;
  font-size:1.2rem
}
.gradient-button_new {
  display: inline-block;
  font-weight: bold !important;
  color: white !important;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  transition: all 0.3s ease;
  border: none !important;
  padding: 15px 13px;
}

/* footer styling */
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
}
.footer a {
  color: #a9a5b2;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .social-icons a {
  font-size: 1em;
  margin-right: 15px;
  color: #fff;
}
.footer .social-icons a:hover {
  color: #007bff;
}
.list-unstyled li {
  margin-top: 10px !important;
}
/* poppins-styles */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
