* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px;
}
h5 {
  font-weight: bold;
}

h1{
  font-weight:800;
  font-size:50px
}
p{
  font-weight:700 !important
}
.navbar .megamenu {
  padding: 1rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* ============ mobile view .end// ============ */
.position_megamenu {
  display: flex;
  flex-direction: column;
}

/* bootstrap navbar */
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-evenly;
  }
}

.nav-link {
  font-weight: 500 !important;
  line-height: 16px !important;
  color: #111111 !important;
}
.nav-link_gradient {
  font-weight: 700 !important;
  line-height: 16px !important;
  color: white !important;
}

.nav-link-padding {
  padding: 5px 8px;
  margin: 0px 10px;
}

.nav-link-padding_logo {
  padding: 0 20px;
}

.image_sizing {
  height: 45px !important;
}

.navbar-dark,
.navbar[data-bs-theme="dark"] {
  padding: 20px 0px;
  border: 1px solid black;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
.navbar-toggler {
  border: 1px solid black;
}
.menu_items {
  border: 2px solid black;
  border-radius: 30px;
}
.gradient-button {
  display: inline-block;
  font-weight: bold !important;
  color: white !important;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  transition: all 0.3s ease;
  border: none !important;
}
.megamenu-options-position {
  padding: 10px 0px;
}
/* Banner section Styling */
.banner_position {
  padding: 40px 250px;
}
.banner_heading {
  font-size: 92px;
  font-weight: 1000;
}
.banner-image-sizing {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.backgroud_color_bg {
  background-color: #fbf6ff;
}
/* card styling */
.gradient-card {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  min-height:350px
}
.gradient-card:hover {
  box-shadow: 0px 12px 30px rgba(149, 157, 165, 0.3);
}
.icon-circle {
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, #ff61e6, #4d4dff);
  border-radius: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
}
.icon {
  color: white;
  font-size: 28px;
}
.section-bg {
  background: linear-gradient(
    135deg,
    rgba(255, 217, 255, 0.5),
    rgba(230, 238, 255, 0.5)
  );
  padding: 100px 0;
}

/* poppins-styles */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
